.homepage-container {
    display: flex;
    justify-content: center;
    border-style: solid;
}

.textbox {
    width: 400px;
    margin-top: 175px;
    margin-left: 50px;
    margin-right: 25px;
    margin-bottom: 75px;
    border-style: solid;
}

.title {
    font-family: JetBrainsMono-SemiBold;
}

.text{
    font-family: JetBrainsMono-Light; 
}

.image {
    width: 400px;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 25px;
    border-radius: 50px;
    border-style: solid;
}