.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    /* position: fixed;
    top: 0;
    width: 950px;
    background-color: var(--page-color); */
}

.logo {
    margin-top: 10px;
    margin-left: 20px;
}

.navBar {
    margin-top: 10px;
    margin-left: 10px;
}
