@import "../../styles.css";

.nav-container {
	width: 500px;
    margin: 0;
    display: flex;
	align-items: center;
}

.nav-bar {
	display: flex;
}

.nav-list {
    width: 500px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.nav-divider {
	font-size: 18px;
  font-family: JetBrainsMono-Light;
}

.nav-item {
	font-size: 18px;
  font-family: JetBrainsMono-SemiBold;
}

.nav-item a {
  color: pink;
	text-decoration: none;
  }

.nav-item a:hover {
	color: var(--link-color);
  }
