@import "./styles.css";

.App {
  background-color: var(--app-color);
}

.page-content {
  min-width:fit-content;
  width: 1000px;
  margin: auto;
  background-color: var(--page-color);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
