:root {
	color-scheme: light;
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
	}
}

.lightTheme {
	transition: 0.4s ease-in-out;
	/* ------- background colors ------- */
	--app-color: #FAFAFA;
    --page-color: #FFFFFF;
	/* ---------------------- */

	/* ------- colors ------- */
	--primary-color: #27272a;
	--secondary-color: #65656d;
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;
	--link-color: #14b8a6;
	--shadow-color: rgba(0, 0, 0, 0.1);
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}

.darkTheme {
	transition: 0.4s ease-in-out;
	/* ------- background colors ------- */
	--app-color: #050505;
	--page-color: #000000;
	/* ---------------------- */

	/* ------- colors ------- */
	--primary-color: #D8D8D5;
	--secondary-color: #9A9A92;
	--tertiary-color: #53534B;
	--quaternary-color: #1B1B18;
	--link-color: #EB4759;
	--shadow-color: rgba(255, 255, 255, 0.1);
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}


